*.ci
*.o
*.ali
*.cgpr
*.exe
*.cswi
*.db
*.bexch
b__main.adb
b__main.ads
bin/b__main.adb
bin/b__main.ads
bin/b__server.adb
bin/b__server.ads
bin/gnatinspect.db-shm
bin/gnatinspect.db-wal
bin/pango/pango.modules
bin/adachat-loc.xml
